@use "sass:map";
@use "../../design" as *;
@use "baka-core" as baka;
@use "../../common/focus.scss" as *;

@mixin text--styles {
  .baka-text {
    @include baka.text--styles;
    color: var(--text-color, inherit);
    cursor: inherit;

    &:is(label),
    &:is(a),
    &:has(input[type="checkbox"]),
    &:has(input[type="radio"]) {
      cursor: pointer;
    }

    &:is(label) {
      display: inline-flex;
      align-items: center;
      gap: map.get($spacing, horizontal-xs);
    }

    &:has(> .baka-checkbox) {
      --text-color: #{map.get($swatch, neutral-foreground-3)};

      @include baka.hover {
        --text-color: #{map.get($swatch, neutral-foreground-2)};
      }

      @include baka.active {
        --text-color: #{map.get($swatch, neutral-foreground-1)};
      }

      @include baka.focus {
        outline: none;
        @include focus-indicator;
      }
    }

    &:has(> .baka-checkbox.baka-state--checked),
    &:has(> .baka-checkbox:checked) {
      --text-color: #{map.get($swatch, neutral-foreground-1)};
    }

    &:has(> .baka-checkbox.baka-state--disabled),
    &:has(> .baka-checkbox:disabled) {
      pointer-events: none;
      --text-color: #{map.get($swatch, neutral-foreground-disabled)};
    }

    @include baka.variant("caption-1") {
      @include caption-1;
    }

    @include baka.variant("caption-1-strong") {
      @include caption-1-strong;
    }

    @include baka.variant("caption-2") {
      @include caption-2;
    }

    @include baka.variant("caption-2-strong") {
      @include caption-2-strong;
    }

    @include baka.variant("body-1") {
      @include body-1;
    }

    @include baka.variant("body-1-strong") {
      @include body-1-strong;
    }

    @include baka.variant("body-1-stronger") {
      @include body-1-stronger;
    }

    @include baka.variant("body-2") {
      @include body-2;
    }

    @include baka.variant("subtitle-1") {
      @include subtitle-1;
    }

    @include baka.variant("subtitle-1-stronger") {
      @include subtitle-1-stronger;
    }

    @include baka.variant("subtitle-2") {
      @include subtitle-2;
    }

    @include baka.variant("subtitle-2-stronger") {
      @include subtitle-2-stronger;
    }

    @include baka.variant("title-3") {
      @include title-3;
    }

    @include baka.variant("title-2") {
      @include title-2;
    }

    @include baka.variant("title-1") {
      @include title-1;
    }

    @include baka.variant("large-title") {
      @include large-title;
    }

    @include baka.variant("display") {
      @include display;
    }
  }
}
